<body>
    <div class="container">
        <h1>To-Do App</h1>
        <div class="input-container">
            <input type="text" id="taskInput" placeholder="Add a task" [(ngModel)]="todoValue">
            <button type="submit" id="addTaskBtn" (click)="addTodo()" (keyup.enter)="addTodo()" >Add Task</button>
        </div>

        <div *ngIf="warningMessage" class="warning-message">
            {{ warningMessage }}
        </div>
        
        <div class="task-section">
            <h2>To Be Done</h2>
            <ul id="toBeDoneList">
                <li *ngFor="let task of todoList; let i = index">
                    <input type="checkbox" [id]="'task' + i" [(ngModel)]="task.value" (ngModelChange)="changeTodo(i)">
                    <label [for]="'task' + i">{{ task.content }}</label>
                    <button class="delete-btn" (click)="deleteTodo(i)">Delete</button>
                    <button class="edit-btn">Edit</button>
                </li>
            </ul>
        </div>
        <div class="task-section" *ngIf="finishedList.length>0">
            <h2>Completed</h2>
            <ul id="completedList">
                <li *ngFor="let taskdone of finishedList; let i = index">
                    <input type="checkbox" [id]="'task' + i" [(ngModel)]="taskdone.value" (ngModelChange)="changeFinished(i)">
                    <label [for]="'task' + i">{{ taskdone.content }}</label>
                    <button class="delete-btn" (click)="deleteFinished(i)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
</body>